* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

body {
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 100%;
    grid-template: 
        "nav" auto
        "header" auto
        "main" 1fr
        "footer" auto;
}

nav {
    grid-area: nav;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px;
    background-color: white;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 15px;
}

.main-nav ul {
    list-style-type: none;
}

.home, .menu {
    color: black;
    font-family: Degular, sans-serif;
    font-size: 16px;
    display: flex;
}

.menu {
    justify-content: flex-end;
}

.main-nav a {
    text-decoration: none;
}

header {
    grid-area: header;
}

.h1 {
    font-family: Nimbus Sans, sans-serif;
    font-size: 75px;
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 0.76;
    padding-top: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

main {
    grid-area: main;
}

.first-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
}

.first-pic img {
    width: 135%;
    height: auto;
    object-fit: cover;
}

.main-container {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, min-content);
}

.collection-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.collection-title {
    font-family: Nimbus Sans, sans-serif;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
}

.line {
    background-color: black;
    width: 48%;
    height: 1px;
    margin-bottom: 5px;
}

.h2 {
    font-family: Degular, sans-serif;
    font-size: 60px;
    line-height: 0.8;
    padding-top: 30px;
}

.description {
    font-family: Degular, sans-serif;
    font-size: 16px;
    width: 80%;
    padding-top: 30%;
}

.SN-number {
    font-family: Degular, sans-serif;
    font-size: 16px;
    padding-top: 20%;
}

.col-main-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(10px, min-content);
    gap: 10px;
}

.square-1, .square-2 {
    background-color: #e1e1e1;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.square-1 img {
    width: 110%;
    height: auto;
}

.square-2 img {
    width: 85%;
    height: auto;
}

.square-3 img {
    width: 85%;
    height: auto;
}

.square-3 {
    background-color: #e1e1e1;
    width: 80%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    grid-column-end: span 2;
}

.view-more {
    padding-top: 20px;
}

.view-more a {
    color: black;
    font-family: Degular, sans-serif;
    font-size: 16px;
}

.featured-container {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, min-content);
    row-gap: 20px;
}

.featured-title {
    font-family: Degular, sans-serif;
    font-size: 50px;
    line-height: 0.8;
}

.f-artist-pic-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 10vh;
    background-color: #e1e1e1;
    width: 100%;
    height: 45vh;
}

.f-artist-pic-1 img {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-bottom: 90px;
}

.f-artist-pic-2, .f-artist-pic-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #e1e1e1;
    width: 100%;
    height: 45vh;
}

.f-artist-pic-3 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.f-artist-pic-2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.explore {
    font-family: Nimbus Sans, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.artist {
    font-size: 30px;
    padding-top: 20px;
    line-height: 0.3;
    font-weight: 300;
}

.aurm-container {
    display: grid;
    padding: 20px;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, min-content) 700px ;
}

.sub-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-title-1, .sub-title-2 {
    font-family: Degular, sans-serif;
    font-size: 16px;
}

.sub-title-2 {
    justify-content: flex-end;
    text-align: right;
}

.display-aurm {
    font-family: Nimbus Sans, sans-serif;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -10px;
    transform: rotate(90deg);
    transform-origin: center center;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, min-content);
    padding: 20px;
    font-family: Degular, sans-serif;
}

.black-line {
    background-color: black;
    height: 1px;
    width: 100%;
}

.email {
    font-size: 16px;
}

.email a {
    color: black;
    text-decoration: none;
}

.small-line {
    width: 10%;
    background-color: black;
    height: 1px;
    margin-right: 10px;
}

.email-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 20px; 
}

.footer-nav {
    padding-top: 20%;
    padding-bottom: 20%;
}

.footer-nav a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 500;
}

.footer-nav li {
    list-style: none;
}

.caption-nav {
    font-size: 16px;
    line-height: 1.6;
}

.socials-container {
    display: flex;
    flex-direction: row;
    padding-top: 15%;
}

.twitter, .insta, .facebook {
    font-size: 16px;
    margin-right: 15px;
}

.twitter a, .insta a, .facebook a {
    color: black;
    text-decoration: none;
}

.location {
    line-height: 1.3;
    font-size: 16px;
    padding-top: 10%;
}

.fullscreen-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding: 40px 20px;
}

.fullscreen-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.fullscreen-menu li {
    margin: 20px 0;
}

.fullscreen-menu a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family: Degular, sans-serif;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 36px;
    cursor: pointer;
}

/* ELAYSION COL. PAGE */

.h1-elaysion {
    font-family: Nimbus Sans, sans-serif;
    font-size: 70px;
    padding-top: 20%;
    padding-left: 20px;
    font-weight: 100;
    letter-spacing: -2px;
    line-height: 0.8;
}

.col-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(10px, min-content);
    gap: 5px;
    padding: 20px;
}

.description-elaysion {
    font-family: Degular, sans-serif;
    font-size: 16px;
    width: 80%;
    grid-column-end: span 2;
    padding-bottom: 30px;
}

.grey-square-1, .grey-square-2, .grey-square-4, .grey-square-5, .grey-square-7, .grey-square-8 {
    background: #e1e1e1;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grey-square-3 {
    background: #e1e1e1;
    width: 80%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-column-end: span 2;
}

.grey-square-6 {
    background: #e1e1e1;
    width: 70%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-column-end: span 2;
}

.grey-square-1 img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
}

.grey-square-2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.grey-square-3 img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.grey-square-4 img {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.grey-square-5 img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
    padding-right: 20px;
}

.showing {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    grid-column-end: span 2;
}

.showing-showing, .showing-date {
    font-family: Degular, Sans-serif;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.showing-line {
    background-color: black;
    height: 1px;
    width: 30%;
}

.grey-square-6 img {
    width: 85%;
    height: auto;
    object-fit: cover;
}

.grey-square-7 img {
    width: auto;
    height: 115%;
    object-fit: cover;
    margin-bottom: 30px;
    overflow: hidden;
}

.grey-square-8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Product Page 1 */

.h1-elaysion-product {
    font-family: Nimbus Sans, sans-serif;
    font-size: 70px;
    padding-top: 30%;
    padding-left: 20px;
    padding-bottom: 20px;
    letter-spacing: -2px;
    line-height: 0.8;
    font-weight: 100;
}

.main-container-product-1 {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, min-content);
}

.grey-square-product-1-1, .grey-square-product-1-2, .grey-square-product-1-3, .grey-square-product-1-4, .grey-square-product-1-5, .grey-square-product-1-6, .grey-square-product-1-7, .grey-square-product-1-8 {
    background-color: #e1e1e1;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey-square-product-1-1 img {
    width: 120%;
    height: auto;
    object-position: cover;
}

.grey-square-product-1-2 img {
    width: 90%;
    height: auto;
    object-position: cover;
}

.grey-square-product-1-3 img {
    width: 80%;
    height: auto;
    object-position: cover;
}

.grey-square-product-1-4 img {
    width: 85%;
    height: auto;
    object-position: cover;
}

.grey-square-product-1-5 img {
    width: 100%;
    height: auto;
    object-position: cover;
}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.values {
    text-align: right;
}

.values, .labels {
    font-family: Degular, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-to-cart {
    font-family: Degular, sans-serif;
    display: flex;
    justify-self: flex-end;
    padding-top: 20px;
}

.add-to-cart a {
    color: black;
    padding-bottom: 25px;
}




@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}